@media screen and (min-width: 767px) {
    .mitem {
        width: 350px;        
    }
}
.thumbnail-img {
    width: 320px;
    background-repeat: no-repeat;
    background-position: center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.search-bar {
	padding-left: 0px !important;
}
.newPoiImg {
	margin-bottom: 15px;
}