@** poi_query
**@


<div class="container form-group">
    <div class="search-bar col-xs-8 col-sm-10">
        <input type="text" class="form-control" id="query" name="q" placeholder="ex: 阿寒國立公園 日本" value='一蘭 大阪'>
    </div>
    <div class="col-xs-4 col-sm-2">
        <button id="poiQueryBtn" type="button" class="col-xs-12 btn btn-primary">查詢</button>
    </div>
    <div class="checkbox col-xs-6">
        <label>
            <input id="showOnlyHaveImg" type="checkbox"> 只搜尋有圖的地點
        </label>
    </div>
</div>



<div class="container">
    <div id="mcontainer" data-bind="foreach: poiList">
        <div class="mitem" data-bind="style: {display: showOnlyHaveImg}">
            <div class="thumbnail">
                <div class="caption">
                    <div class="thumbnail-img" data-bind="style: {backgroundImage: img, height: imgH}"></div>
                    <h2 data-bind="text: name"></h2>
                    <p data-bind="text: addr"></p>
                    <p>
                        <a href="#new-poi" class="btn btn-primary" role="button" data-bind="click: newPoi">新增此景點至ＥＺ</a>
                        <a href="#link-poi" class="btn btn-info" role="button">連結ＥＺ現有景點</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- Modal -->
<div class="modal fade" id="newPoiModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content" data-bind="with: newPoiModal">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="myModalLabel">新增此景點至ＥＺ</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-xs-12 col-sm-10">
                        <label for="newPoiName">景點名稱</label>
                        <input id="newPoiName" type="text" class="form-control" data-bind="attr: {value: poiName}">
                    </div>
                    <div class="col-xs-12 col-sm-2">
                        <label for="newPoiRating">景點評等</label>
                        <select id="newPoiRating" class="form-control">
                            <option>0</option>
                            <option>1</option>
                            <option>2</option>
                            <option>3</option>
                            <option>4</option>
                            <option>5</option>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label for="newPoiAddr">景點地址</label>
                    <input id="newPoiAddr" type="text" class="form-control" data-bind="attr: {value: poiAddr}">
                </div>
                <div class="form-group">
                    <label for="newPoiDesc">景點說明</label>
                    <textarea id="newPoiDesc" class="form-control" rows="4"></textarea>
                </div>
                <div class="row" style="margin-bottom: 15px;">
                    <div class="col-xs-12 col-sm-3">
                        <label for="newPoiLat">緯度(lat)</label>
                        <input id="newPoiLat" type="text" class="form-control" placeholder="lat">
                    </div>
                    <div class="col-xs-12 col-sm-3">
                        <label for="newPoiLng">經度(lng)</label>
                        <input id="newPoiLng" type="text" class="form-control" placeholder="lng">
                    </div>
                    <div class="col-xs-12 col-sm-6">
                        <label for="newPoiUrl">景點網址</label>
                        <input id="newPoiUrl" type="text" class="form-control" placeholder="ex: 官方網站 or Blog文章">
                    </div>
                </div>
                <div class="row" style="margin-bottom: 15px;">
                    <div class="newPoiImg col-xs-12 col-sm-6 col-md-4">
                        <img class="img-responsive" data-bind="attr: {src: poiImgUrl}">
                    </div>
                    <div class="newPoiImg col-xs-12 col-sm-6 col-md-4">
                        <img class="img-responsive" data-src="holder.js/200x200/text: +" data-alt="+">
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                <button type="button" class="btn btn-primary" data-bind="click: saveNewPoi">確定儲存</button>
            </div>
        </div>
    </div>
</div>


<script type="text/javascript">
(function() {

    $('#newPoiModal').on('show.bs.modal', function(event) {});


    $('#poiQueryBtn').on('click', function() {

        if ("" === $('#query').val()) {
            $('#query').parent().addClass('has-error');
            //$('#query').css('border', '1px solid #FF0000');
            return;
        }
        $('#query').parent().removeClass('has-error');


        $.ajax({
            type: 'GET',
            url: '/api/poi/query',
            data: {
                q: $('#query').val()
            }
        }).done(function(resp) {
            if (resp.status === 'OK') {
                viewModel.poiList.removeAll();
                $.each(resp.results, function(index, value) {

                    var photoRefUrl = value.photos === undefined ? '@routes.Assets.at("images/ez.png")' :
                        'https://maps.googleapis.com/maps/api/place/photo?maxwidth=400&photoreference=' + value.photos[0].photo_reference + '&key=AIzaSyBsp82AFb_USZhlW1fSIJwLLlaCeSfLxEk';

                    var photoRef = value.photos === undefined ? 'url("@routes.Assets.at("images/ez.png")")' :
                        "url('" + 'https://maps.googleapis.com/maps/api/place/photo?maxwidth=400&photoreference=' + value.photos[0].photo_reference + '&key=AIzaSyBsp82AFb_USZhlW1fSIJwLLlaCeSfLxEk' + "')";

                    var photoRadio = value.photos === undefined ? 1 : value.photos[0].width / value.photos[0].height;

                    var blockOrNone = 'block';
                    if (value.photos === undefined && $('#showOnlyHaveImg').prop('checked')) {
                        blockOrNone = 'none';
                    }

                    viewModel.poiList.push(new PoiInfo(value.name, value.formatted_address, photoRefUrl, photoRef, (320 / photoRadio) + 'px', blockOrNone, value));
                });
                var container = document.querySelector('#mcontainer');
                var msnry = new Masonry(container, {
                    // options
                    columnWidth: 10,
                    "isFitWidth": true,
                    gutter: 5,
                    transitionDuration: '0.2s',
                    itemSelector: '.mitem'
                });


            } else if (resp.status === 'ZERO_RESULTS') {
                alert('無搜尋結果!');
            }
        });
    });

    function PoiInfo(name, addr, imgUrl, img, imgH, showOnlyHaveImg, poiDetail) {
        var self = this;
        self.name = name;
        self.addr = addr;
        self.imgUrl = imgUrl;
        self.img = img;
        self.imgH = imgH;
        self.showOnlyHaveImg = showOnlyHaveImg;
        self.newPoi = function(data, event) {
            viewModel.newPoiModal.poiName(self.name);
            viewModel.newPoiModal.poiAddr(self.addr);
            viewModel.newPoiModal.poiImgUrl(self.imgUrl);
            viewModel.newPoiModal.poiInnerData(self.poiDetail);
            $('#newPoiModal').modal();
        }
        self.poiDetail = poiDetail;
    }

    // function NewPoiModalInfo(poiName) {
    // 	var self = this;
    // 	self.poiName = poiName;
    // }

    function ViewModel() {
        var self = this;
        self.poiList = ko.observableArray();
        self.newPoiModal = {
            poiName: ko.observable(),
            poiAddr: ko.observable(),
            poiImgUrl: ko.observable(),
            poiInnerData: ko.observable(),
            saveNewPoi: function(data, event) {
            	var toSave = data.poiInnerData();
            	toSave['poi_desc'] = 'xxxxxxxxxxxxxxxxxXxxxxxxxxxxxx'
            	console.debug(data.poiInnerData());
            }
        };
    }

    var viewModel = new ViewModel();

    ko.applyBindings(viewModel);

})();
</script>
